@import url('https://fonts.googleapis.com/css2?family=Turret+Road:wght@500;700&display=swap');

.aboutus-body {
    background-image: linear-gradient(#e7e9f1, #98cff3 40%);
}

.aboutus-content {
    margin: 0 10% 0 10%;
    min-height: 90vh;
    position: relative
}
.aboutUs-header {
    text-align: center;
    color: #696969;
    font-family: 'Turret Road', cursive;
    padding-top: 3%;
    font-weight: 500;
    font-size: 56px;
}

.aboutUsText{
    text-align: left;
    font-size: 15px;
}

.row {
    margin-top: 5%;
    display: flex;
    text-align: center;
    height: 20%;
}

/* Create three equal columns that sits next to each other */
.column {
    flex: 33.33%;
    padding: 5px;
}