@import url('https://fonts.googleapis.com/css2?family=Turret+Road:wght@500;700&display=swap');

.contactUs-header {
    text-align: center;
    color: #696969;
    font-family: 'Turret Road', cursive;
    padding-top: 5%;
    font-weight: 500;
    font-size: 56px;
}

.contactUsText{
    text-align: center;
    padding-right: 5%;
    padding-left: 5%;
    font-size: 15px;
}

.contactFormdiv {
    text-align: center;
    margin-bottom:5%;
}

.contact-form {
    height: 40%;
    width: 30%;
    border: 2px solid lightblue;
    padding: 2%;
    border-radius: 25px;
    margin : 2% auto;
}
