@import url('https://fonts.googleapis.com/css2?family=Turret+Road:wght@500;700&display=swap');


/*.dash-back {
    background-image: url("../../images/cloud.jpg");
    background-size: 100% 100%;
    background-repeat: repeat-y;
    height: 100%;
    padding: 0;
}*/
.usrdash-title {
    padding-top: 1%;
    font-family: 'Turret Road', cursive;
    color: #696969;
    font-weight: 700;
}

.carousel{
    margin-bottom:1%;
}

.cards{
    padding-left: 5%;
    padding-right: 5%;
    margin: 0;
}

.dash-content {
    position: relative;
    min-height: 100vh;
    margin: 0 10% 3% 10%;
}

.dash-body {
    background-image: linear-gradient(#e7e9f1, #ebe297 50%);
}


hr.solid-divider {
    margin-top: 3%;
    border-color:grey;
    width: 100%;
}

.userPage-carousel {
    margin: 1% 10% 1% 10%;
}