@import url('https://fonts.googleapis.com/css2?family=Turret+Road:wght@500;700&display=swap');

.usrdash-title {
    padding-top: 1%;
    font-family: 'Turret Road', cursive;
    color: #696969;
    font-weight: 700;
}

.carousel{
  
    margin-bottom:1%;
}

.cards{
    padding-left: 5%;
    padding-right: 5%;
    margin:0;
}

.dash-body {
    margin: 0 10% 5% 10%;
}

hr.solid-divider {
    margin-top: 3%;
    border-color:lightgray;
    width: 100%;
}

.userPage-carousel {
    margin: 1% 10% 1% 10%;
}