/* footer */
.footer {
	margin-top: 1rem;
	padding: 1rem;
	background-color: #D3D3D3;
	bottom: 0;
	position:fixed;
	left: 0;
	width: 100%;
}

	.footer ul li {
		display: inline;
		margin: 10px;
		padding: 10px;
	}

.footerlink {
	text-decoration: none;
	color: black;
	font-family: 'Roboto', sans-serif;
	font-style: italic;
}
