@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

/* reset */

* {
    padding: 0;
    box-sizing: border-box;
}

a {
    color: #2199df;
    text-decoration: unset;
}

ul {
    margin-left: 1.5rem;
    list-style: none;
}


h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li {
    margin-top: 1em;
    margin-bottom: 1em;
}

/* general */

body {
    font-family: "Roboto", sans-serif;
}

.page {
    padding: 1rem;
}

.container {
    margin: 0 auto;
}


/* media queries */

@media screen and (max-width: 550px) {
    #header .title {
        font-size: 1.2rem;
    }

    #header .auth-options button {
        padding: 0 0.5rem;
        font-size: 0.9rem;
    }
}
